# Python Virtual Environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
dist/
build/
*.egg-info/

# IDE settings
.idea/
.vscode/

# Local configuration
.env

excel_data/